.inputWithButton {
  position: relative;
  width : 400px;
  margin-top: 50px;
  margin-left: 455px;
}

.inputWithButton input{
  width: 70%;
  height: 25px;
  border: none;
  padding: 10px 120px 10px 0;
}

.inputWithButton :focus {
  outline: none;
  box-shadow: -1px 10px 6px -1px #7A7E8E;
}

.inputWithButton button {
  position: absolute;
  right: 0;
  top : 5px;
  padding: 8px 10px;
  margin-right: 5px;
}
